  .announcment {
  cursor: pointer;
  background-color: red;
  }
  .inner_announcment {
  width: 100%;  
  margin-top: -10px;
  color: white;
  text-align: center;
  padding: 10px 0px 10px 0px ;
  cursor: pointer;
  }
  .underline {
  text-decoration: underline;
  font-size: 15px;
  }
 
  /***************************footer part***************************************************/
  body {
  background-color: black;
  margin: 0;
  padding: 0;
  }
#login{
  cursor: pointer;
  width: 199px;
  height: 22px;
background-color: #ea2127;
  color: white;
  margin-left: 10px;
  padding-top: 9px;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  }
#dailyDeal {
  cursor: pointer;
  display: grid;
  grid-template-columns: 443px 443px 443px;
  grid-template-rows: 100% 100% 100%;
  grid-column-gap: 10px;
  width: 90%;
  height: 487px;
  margin: auto;
  /* border: 1px solid red; */
  margin-top: -30px;
  color: white;
  }
  button {
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  background-color: black;
  line-height:normal;
  vertical-align:baseline;
  letter-spacing:normal;
  word-spacing:0px;
  color: white;
  border-radius: 50px;
  width: 120px;
  height: 37px;
  margin-left: 15px;
  margin-top: 10px;
  border: none;
  padding:11px 25px;
  font-size: 13.8px;
  font-weight: 500;
  background-color: red;
  }
#boatImg{
  width: 100px;
  height: 45px;
  margin-top: 40px;
  margin-left: 10px;
  }
#boatImg:hover{
  cursor: pointer;
  opacity: 0.7;
  }
#footer{
  display: flex;
  }
#leftDiv>p{
color: #969696;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400; 
  margin-top: 30px;
  }
#inputAndBtn{
  display: flex;
  padding: 10px;
  border: 1px solid white;
  height: 35px;
  }
#inputAndBtn input{
  background-color: black;
  color: whitesmoke; 
  padding-right: 8px;
  padding-left: 12px;
  width: 200px;     
  border-radius: 5px;
  font-size: 13.33px;
  font-weight: 400;
  font-family: Arial;
  }
#inputAndBtn button{
  cursor: pointer;
  color: white;
  border: 1.5px solid red;
  padding: 8px 12px 8px 12px;
  border-radius: 5px;
  width: 130px;
  height: 35px;
  margin-left: 3px;
  margin-top: 0px;
  }
#inputAndBtn button:hover{
  background-color: red;
  }
#leftDiv{
  width: 360px;
  height: 550px;
  margin-left: 160px; 
  }
#rightDiv{
  display: flex;
  width: 800px;
  height: 550px;
  margin-left: 40px;
  font-size: large;
  }
#shopHelpComp{
  display: flex;
  }
#shopfoot{
  width: 190px;
  height: 350px;
  /* border: 1px solid blue; */
  margin-top: 40px;
  font-size: larger;
  }
#shopfoot>ul>li{
  cursor: pointer;
  }
#help{
  width: 190px;
  height: 350px;
  /* border: 1px solid blue; */
  margin-top: 40px;
  margin-left: 60px;
  font-size: 18px;
  }
#help>ul>li{
  cursor: pointer;
  }
#company{
  width: 190px;
  height: 350px;
  /* border: 1px solid blue; */
  margin-top: 40px;
  margin-left: 60px;
  font-size: larger;
  }
#company>ul>li{
  cursor: pointer;
  }
#shopfoot>p,#help>p,#company>p{
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 600;
  color: white;  
  margin-top: 0px;
  }
#shopfoot>ul>li,#help>ul>li,#company>ul>li{
color: #969696;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin-left: -38px;
  }
#shopfoot>ul>li:nth-child(1),#help>ul>li:nth-child(1),#company>ul>li:nth-child(1){
  margin-top: -7px;
  }
#SocialIcons{
  display: flex;
  margin-top: 230px;
  }
#twit{
  width: 28px;
  height: 28px;
  margin-top: 5px;
  }
#fac{
  width: 38px;
  height: 38px;
  }
#yout{
  width: 37px;
  height: 37px;
  }
#insta{
  width: 32px;
  height: 32px;
  margin-top: 3px;
  }
#linkdin{
  width: 23px;
  height: 23px;
  margin-top: 7px;
  }
#Foot_cards{
  width: 360px;
  height: 60px;
  margin-top: 20px;
  }
#fstore{
  display: flex;
  width: 600px;
  height: 50px;
  /* border: 1px solid red; */
  margin-left: 680px;
  margin-top: -56px;
  }
#fstore>p{
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-right: 28px;
  }
#gstore{
  margin-right: 10px;
  cursor: pointer;
  }
#astore {
  cursor: pointer;
  }
#copyRight{
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: whitesmoke;
  }

  /***********************************************************************************/
#container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,auto);
  border: 1px solid white;
background-color: #252525;
  border-radius: 20px;
  }
#outer_div{
  border: 1px solid teal;
  text-align: center;
  border-radius: 20px;
background-color: #e3e3e3;
  margin: 0px 15px;
  margin-top: 10px;
  }
#outer_div>img {
  width: 240px;
  height: 210px;
  }
#inner_div {
  background-color: white;
  border-radius: 15px;
  width: 92%;
  margin: auto;
  margin-top: -20px;
  }
#h4+p {
  margin-top: -10px;
  font-weight: lighter;  
  }
#inner_div>h3 {
  margin-top: -10px;
  color: red;
  }
#inner_div>h4:nth-child(2) {
  margin-top: -15px;
  font-weight: lighter;
  margin-bottom: -2px;
  }
#inner_div>button {
background-color: #f6c00b;
  width: 92%;
  margin-top: -15px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  font-size: 18px;
  }
#button+p {
  margin-top: 0px;
background-color: #f6c00b;
  }
#sorting {
  padding: 3px;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 1000px;
  cursor: pointer;
  }
#filter {
  color: white;
  margin-left: 10px;
  border: 1px solid white;
  width: 10%;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  }
#mid_part {
  display: flex;
  }
#sorting>option {
  padding: 10px;
  }
#countdown {
background-color: #f6c00b;
  width: 20%;
  padding: 1px;
  margin-left: 10px;
  margin-top: 50px;
  border-radius: 15px;
  text-align: center;
  font-size: x-large;
  }
  a {
  text-decoration: none;
  color: white;
  }
#bigbox{
  width:200px;
  padding:15px;
  text-decoration: none;
  margin-top: -1100px;
  }
#bigbox>button{
  margin: 1px;
  text-transform: uppercase;
  }
#move{
  margin:auto;
  background-color: none;
  }
#display{
  display: flex;
  text-align: start;
  }
  button{
  background: none;
  }
#p{
  color: rgb(111, 104, 104);
  margin-top: 40px;
  margin-left: 30px; 
  }
#h1{
  color: white;
  margin-top: -10px;
  margin-bottom: -30px;
  margin-left: 30px;
  }        

  /********footer*******************/

  /****************Navbar**********/
#big{
  width: 95%;
  margin-left: 30px;
  height: 400px;
  display: flex;
  margin-top: 10px;
  /* border: 1px solid rgb(4, 100, 17); */
  }
#pc{
  margin-left: 10px;
  }
#one{
  height: 500px;
  width: 35%;
  /* border: 1px solid yellow; */
color: #8F8F8F;
  }
#one>p{
  font-size: 14px;
  margin-left: 10px;
  }
#type{
  height: 35px;
  width: 400px;
  margin-top: 50px;
  }
#type>input{
  border-radius: 10px;
  height: 35px;
  background-color: black;
  color: white;
  margin-top: 10px;
  width: 200px;
  }
  input+button{
  height: 36px;
  width: 140px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: 2px solid red;
  }
  button:hover{
  background-color: red;      
  }
  .two{
  height: 500px;
  width: 20%;
  margin-left: 30px;
  font-size: 15px;
color: #8F8F8F;
  }
  h3{
  color: white;      
  }
#social{
  height: 40px;
  width: 250px;
  margin-top: 20px;
  margin-left: 75px;
  }
  .social_logo{
  display: flex;
  font-size: 30px;
  color: white;
  justify-content: space-between;
  cursor: pointer;
  }
#bottom{
  width: 90%;
  height: 80px;
  margin-top: 10px;
  margin-left: 20px;
  justify-content: space-around;
  display: flex;
  }
#cards{
  height: 80%;
  margin-top: 7px;
  width: 30%;
  /* border: 1px solid red; */
  }
#cards>img{
  width: 100%;
  height: 100%;
  margin-top: -6px;
  }
#payment{
  height: 80%;
  margin-top: 7px;
  width: 45%;
  /* border: 1px solid red; */
  display: flex;
  margin-left: 50px;
  }
#payment>img{
  margin-left: 30px;
  width: 20%;
  }
  h6{
  text-align: center;
  color: beige;
  }
  body{
    background-color: black;
}
/* #red_navbar{
    width: 100%;
  
    border: 2px red;
    
} */
#red_navbar{
    border: 2px solid red;
    height: 26px;
    /* width: 100%; */
    background-color: red;
    margin: 0px;
    margin-top: -8px;
    /* margin-left: -10px; */
    /* position: absolute; */
    text-align: center;
    justify-content: center;
    
}
#red_navbar>p{
    font-style: monsterrant;
    color: aliceblue;
    margin-top: 6px;
    font-family: Sans-serif;
    font-size: 14px;
}
#main_navbar{
    /* border: 2px solid white; */
    height: 50px;
    margin-top: 10px;
    display: flex;
}
#boat_icon{
    height: 40px;
    width: 90px;
    margin-left: 30px;
}
#btn_div{
    text-align: center;
    justify-content: center;
    margin-left: 250px;
    margin-top: 20px;
    
}
#btn_div>button{
    color: aliceblue;
    background-color: black;
    font-family: Sans-serif;
    font-size: 16px;
    margin-left: 5px;
}
#Shop_btn:hover,
#Shop_btn:hover{
    background-size: 0 0.1em, 100% 0.1em;
}
#Shop_btn{
    background: 
      linear-gradient(to right, black,black),
      linear-gradient(to right, aliceblue, aliceblue, aliceblue);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

  /* ------------------------------------------------ */
a:hover,
a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}
a {
    background: 
      linear-gradient(to right, black,black),
      linear-gradient(to right, aliceblue, aliceblue, aliceblue);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
/* ------------------------------- */
 
a{
    text-decoration: aliceblue;
    color: aliceblue;
}
#input_div{
    margin-left: 40px;
    width: 230px;
    /* border: 2px solid wheat; */
} 
#input{
    width: 100%;
    height: 40px;
    margin-top: 8px;
    border-radius: 60px;
}
#l_g_c_btns{
    /* border: 2px solid red; */
    margin-left: 10px;
}
#l_g_c_btns>button{
    background-color:black;
    /* color: white;  */
    margin-top: -10px;
}
#l_img{
  width: 30px;
  margin-top: 10px;
  margin-bottom: -5px;
}
#g_img{
  width: 30px;
  margin-top: 10px;
  margin-bottom: -5px;
}
#c_img{
  width: 30px;
  margin-top: 20px;
  /* margin-bottom: -px; */
 
}
#num{
  color: red;
}
/* -------------------------------------------------------- */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-top: 10px;
  /* border: 2px solid yellow; */
}
.slideshow-container:hover{
    cursor: pointer;
}



/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* --------------------------------------------------------------------------------- */
#subdiv1{
  display: felx;
  /* border: 2px solid white; */
 
}
#subdiv2{
  display: felx;
  /* border: 2px solid white; */
 
}
#subdiv3{
  display: felx;
  /* border: 2px solid white; */
  margin-left: 120px;
}
.p_img{
  width: 240px;
  margin-left: 30px;
  margin-top: 10px;
}
#more_btn_img{
  background-image : url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/web-banner-shop-now_2_f29ea286-44e1-4022-aa8f-fcd2d3d0bc0c_2000x.jpg?v=1659763025")
}
#best_seller{
  margin-top: 20px;
  /* border:  2px solid red; */
  margin-left: 20px;
  display: flex;
}
.price_details{
  background-color:whitesmoke;
  border-radius: 20px;
  /* border: 10px; */
}
#best_seller>div{
  width: 20%;
  /* border: 2px solid yellow; */
  margin-left: 50px;
  border-radius: 20px;
  background-color: azure; 
  
}
.p_div{
  margin-right: 10px;
  border: red;
 
  
}
.add_to_cart_btn{
  background-color: rgb(215, 215, 27);
  /* border-color: rgb(215, 215, 27); */
  width: 200px;
  height: 50px;
  margin-left: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-size: 20px;
  color:aliceblue
}
.scrtch{
  text-decoration:line-through;
  color: #717171;
}
.ppp{
  display: flex;
  gap: 10px;
  margin-top: -10px;
}

.products{
  width:250px;
  margin-right: -20px;
  /* border: 2px saddlebrown; */

}
.head{
  color: aliceblue;
  text-align: center;
}
.name{
  margin-top: -10px;
}
.reviews{
  margin-top: -20px;
}
.yousave{
  margin-top: -20px;
}
.price{
  color: red;
}
.prce_details_1stdiv{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.pric_details{
  margin-top: 7px;
  background-color:whitesmoke;
  width: 250px;
  margin-left: 33px;
}
.video{
  width: 200px;
}
#gif{
  margin-left: 30px;
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.bhoooooom{
  border: 2px white;
}
/* ================================================== */
/*  */
#myBtn {
  /* display: none;Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
 
}

#myBtn:hover {
  background-color: rgb(248, 242, 242); /* Add a dark-grey background on hover */
}
/* =============================================================================== */
#nav_div_{
  display: flex;
}