  .announcment {
  cursor: pointer;
  background-color: red;
  }
  .inner_announcment {
  width: 100%;  
  margin-top: -10px;
  color: white;
  text-align: center;
  padding: 10px 0px 10px 0px ;
  cursor: pointer;
  }
  .underline {
  text-decoration: underline;
  font-size: 15px;
  }
 
  /***************************footer part***************************************************/
#container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,auto);
  border: 1px solid white;
background-color: #252525;
  border-radius: 20px;
  }
#outer_div{
  border: 1px solid teal;
  text-align: center;
  border-radius: 20px;
background-color: #e3e3e3;
  margin: 0px 15px;
  margin-top: 10px;
  }
#outer_div>img {
  width: 240px;
  height: 210px;
  }
  #outer_div>img:hover {
    width: 300px;
    height: 250px;
    cursor: pointer;
}
#inner_div {
  background-color: white;
  border-radius: 15px;
  width: 92%;
  margin: auto;
  margin-top: -20px;
  }
#h4+p {
  margin-top: -10px;
  font-weight: lighter;  
  }
#inner_div>h3 {
  margin-top: -10px;
  color: red;
  }
#inner_div>h4:nth-child(2) {
  margin-top: -15px;
  font-weight: lighter;
  margin-bottom: -2px;
  }
#inner_div>button {
background-color: #f6c00b;
  width: 92%;
  margin-top: -5px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  }
  #inner_div>button:hover {
    width: 200px;
    text-decoration: underline;
  }
#inner_div>p:last-child {
  margin-top: 0px;
  background-color: #f6c00b;
  cursor: pointer;
  width: 60%;
  margin: auto;
  margin-top: 5px;
  border-radius: 10px;
  }
#sorting {
  padding: 3px;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 1000px;
  cursor: pointer;
  }
#filter {
  color: white;
  margin-left: 10px;
  border: 1px solid white;
  width: 10%;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  }
#mid_part {
  display: flex;
  }
#sorting>option {
  padding: 10px;
  }
  /*****************************************************************************/
#countdown {
background-color: #f6c00b;
  width: 20%;
  padding: 1px;
  margin-left: 10px;
  margin-top: 50px;
  border-radius: 15px;
  text-align: center;
  font-size: x-large;
  }
  a {
  text-decoration: none;
  color: white;
  }
#bigbox{
  width:200px;
  padding:15px;
  text-decoration: none;
  margin-top: -1100px;
  }
#bigbox>button{
  margin: 1px;
  text-transform: uppercase;
  }
#move{
  margin:auto;
  background-color: none;
  }
#display{
  display: flex;
  text-align: start;
  }
  button{
  background: none;
  }
#p{
  color: rgb(111, 104, 104);
  margin-top: 40px;
  margin-left: 30px; 
  }
#h1{
  color: white;
  margin-top: -10px;
  margin-bottom: -30px;
  margin-left: 30px;
  }        

  /****************Footer Part**********/

/******************Navbar***************************************/
#main_navbar{
    height: 50px;
    margin-top: 10px;
    display: flex;
}
#boat_icon{
    height: 40px;
    width: 90px;
    margin-left: 30px;
}
#btn_div{
    text-align: center;
    justify-content: center;
    margin-left: 250px;
    margin-top: 20px;    
}
#btn_div>button{
    color: aliceblue;
    background-color: black;
    font-family: Sans-serif;
    font-size: 16px;
    margin-left: 5px;
}
#Shop_btn:hover,
#Shop_btn:hover{
    background-size: 0 0.1em, 100% 0.1em;
}
#Shop_btn{
    background: 
      linear-gradient(to right, black,black),
      linear-gradient(to right, aliceblue, aliceblue, aliceblue);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
  /* ------------------------------------------------ */
a:hover,
a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}
a {
    background: 
      linear-gradient(to right, black,black),
      linear-gradient(to right, aliceblue, aliceblue, aliceblue);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
/* ------------------------------- */
 
a{
    text-decoration: aliceblue;
    color: aliceblue;
}
#input_div{
    margin-left: 40px;
    width: 230px;
    /* border: 2px solid wheat; */
} 
#input{
    width: 100%;
    height: 40px;
    margin-top: 8px;
    border-radius: 60px;
}
#l_g_c_btns{
    /* border: 2px solid red; */
    margin-left: 10px;
}
#l_g_c_btns>button{
    background-color:black;
    /* color: white;  */
    margin-top: -10px;
}
#l_img{
  width: 30px;
  margin-top: 10px;
  margin-bottom: -5px;
}
#g_img{
  width: 30px;
  margin-top: 10px;
  margin-bottom: -5px;
}
#c_img{
  width: 30px;
  margin-top: 20px;
  /* margin-bottom: -px; */
 
}
#num{
  color: red;
}
/* /* -------------------------------------------------------- */ 
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
/* --------------------------------------------------------------------------------- */
#more_btn_img{
  background-image : url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/web-banner-shop-now_2_f29ea286-44e1-4022-aa8f-fcd2d3d0bc0c_2000x.jpg?v=1659763025")
}
#best_seller{
  margin-top: 20px;
  /* border:  2px solid red; */
  margin-left: 20px;
  display: flex;
}
.price_details{
  background-color:whitesmoke;
  border-radius: 20px;
  /* border: 10px; */
}
#best_seller>div{
  width: 20%;
  /* border: 2px solid yellow; */
  margin-left: 50px;
  border-radius: 20px;
  background-color: azure;  
}
.p_div{
  margin-right: 10px;
  border: red;  
}
.add_to_cart_btn{
  background-color: rgb(215, 215, 27);
  /* border-color: rgb(215, 215, 27); */
  width: 200px;
  height: 50px;
  margin-left: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-size: 20px;
  color:aliceblue
}
.scrtch{
  text-decoration:line-through;
  color: #717171;
}
.ppp{
  display: flex;
  gap: 10px;
  margin-top: -10px;
}
.products{
  width:250px;
  margin-right: -20px;
  border: 2px saddlebrown;
}
.head{
  color: aliceblue;
  text-align: center;
}
.name{
  margin-top: -10px;
}
.reviews{
  margin-top: -20px;
}
.yousave{
  margin-top: -20px;
}
.price{
  color: red;
}
.prce_details_1stdiv{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.pric_details{
  margin-top: 7px;
  background-color:whitesmoke;
  width: 250px;
  margin-left: 33px;
}
/* ================================================== */
/*  */
#myBtn {
  /* display: none;Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
 
}

#myBtn:hover {
  background-color: rgb(248, 242, 242); /* Add a dark-grey background on hover */
}
/* =============================================================================== */
#nav_div_{
  display: flex;
}
#text {
  background-color: #2c2c2c;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}
#text>p {
  font-size: 16px;
  margin: auto;
  color: #8F8F8F;
  text-align: center;
  width: 70%;
}