body{
    background-color: black;
}
/* #red_navbar{
    width: 100%;
  
    border: 2px red;
    
} */
#red_navbar{
    border: 2px solid red;
    height: 26px;
    /* width: 100%; */
    background-color: red;
    margin: 0px;
    margin-top: -8px;
    /* margin-left: -10px; */
    /* position: absolute; */
    text-align: center;
    justify-content: center;
    
}
#red_navbar>p{
    font-style: monsterrant;
    color: aliceblue;
    margin-top: 6px;
    font-family: Sans-serif;
    font-size: 14px;
}
#main_navbar{

    gap: 50px;
    height: 50px;
    margin-top: 10px;
    display: flex;
}
#boat_icon{
    height: 40px;
    width: 90px;
    margin-left: 30px;
}
#btn_div{
    text-align: center;
    justify-content: center;
    margin-left: 250px;
    margin-top: 20px;
    
}
#btn_div>button{
    color: aliceblue;
    background-color: black;
    font-family: Sans-serif;
    font-size: 16px;
    margin-left: 5px;
}
#Shop_btn:hover,
#Shop_btn:hover{
    background-size: 0 0.1em, 100% 0.1em;
}
#Shop_btn{
    background: 
      linear-gradient(to right, black,black),
      linear-gradient(to right, aliceblue, aliceblue, aliceblue);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

  /* ------------------------------------------------ */
a:hover,
a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}
a {
    background: 
      linear-gradient(to right, black,black),
      linear-gradient(to right, aliceblue, aliceblue, aliceblue);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
/* ------------------------------- */
 
a{
    text-decoration: aliceblue;
    color: aliceblue;
}
#input_div{
    margin-left: 40px;
    width: 230px;
    /* border: 2px solid wheat; */
} 
#input{
    width: 100%;
    height: 40px;
    margin-top: 8px;
    border-radius: 60px;
}
#l_g_c_btns{
    /* border: 2px solid red; */
    margin-left: 10px;
}
#l_g_c_btns>button{
    background-color:black;
    /* color: white;  */
    margin-top: -10px;
}
#l_img{
  width: 30px;
  margin-top: 10px;
  margin-bottom: -5px;
}
#g_img{
  width: 30px;
  margin-top: 10px;
  margin-bottom: -5px;
}
#c_img{
  width: 30px;
  margin-top: 20px;
  /* margin-bottom: -px; */
 
}
#num{
  color: red;
}
/* -------------------------------------------------------- */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-top: 10px;
  /* border: 2px solid yellow; */
}
.slideshow-container:hover{
    cursor: pointer;
}



/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* --------------------------------------------------------------------------------- */
#subdiv1{
  display: felx;
  /* border: 2px solid white; */
 
}
#subdiv2{
  display: felx;
  /* border: 2px solid white; */
 
}
#subdiv3{
  display: felx;
  /* border: 2px solid white; */
  margin-left: 120px;
}
.p_img{
  width: 240px;
  margin-left: 30px;
  margin-top: 10px;
}
#more_btn_img{
  background-image : url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/web-banner-shop-now_2_f29ea286-44e1-4022-aa8f-fcd2d3d0bc0c_2000x.jpg?v=1659763025")
}
#best_seller{
  margin-top: 20px;
  /* border:  2px solid red; */
  margin-left: 20px;
  display: flex;
}
.price_details{
  background-color:whitesmoke;
  border-radius: 20px;
  /* border: 10px; */
}
#best_seller>div{
  width: 20%;
  /* border: 2px solid yellow; */
  margin-left: 50px;
  border-radius: 20px;
  background-color: azure; 
  
}
.p_div{
  margin-right: 10px;
  border: red;
 
  
}
.add_to_cart_btn{
  background-color: rgb(215, 215, 27);
  /* border-color: rgb(215, 215, 27); */
  width: 200px;
  height: 50px;
  margin-left: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-size: 20px;
  color:aliceblue
}
.scrtch{
  text-decoration:line-through;
  color: #717171;
}
.ppp{
  display: flex;
  gap: 10px;
  margin-top: -10px;
}

.products{
  width:250px;
  margin-right: -20px;
  /* border: 2px saddlebrown; */

}
.head{
  color: aliceblue;
  text-align: center;
}
.name{
  margin-top: -10px;
}
.reviews{
  margin-top: -20px;
}
.yousave{
  margin-top: -20px;
}
.price{
  color: red;
}
.prce_details_1stdiv{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.pric_details{
  margin-top: 7px;
  background-color:whitesmoke;
  width: 250px;
  margin-left: 33px;
}
.video{
  width: 200px;
}
#gif{
  margin-left: 50px;
  display: flex;
  gap: 80px;
  margin-top: 50px;
}
.bhoooooom{
  border: 2px white;
}
/* ================================================== */
/*  */
#myBtn {
  /* display: none;Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
 
}

#myBtn:hover {
  background-color: rgb(248, 242, 242); /* Add a dark-grey background on hover */
}
/* =============================================================================== */
#nav_div_{
  display: flex;
}
#footer_part{
  background-color: black;
  margin-top: 50px;
}
.two>p{
  color: aliceblue;
}
.two>h3{
  color: aliceblue;
}
#big{
  display: flex;
  gap: 200px;
}
#footer_part>h3{
  color: aliceblue;
}
#footer_part>p{
  color: aliceblue;

}
#one>p{
  color: aliceblue;
}
#type>button{
  background-color: red;
  color: antiquewhite;
  width: 140px;
  height: 36px;
  border-radius: 10px;
  cursor: pointer;
}
#type>input{
  width: 200px;
  height: 36px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
#onwtwothree{
  width: 100%;
}

/* ===============================footer===================================== */

