#offers {            
    display: flex;    
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 0px;
    background-color: #ffffff;
    padding: 5px;            
}
#offers>div {
    box-shadow: rgba(27, 27, 29, 0.338) 0px 7px 29px 0px;
    width: 269px;
    height: 249px;
    padding: 10px;
    margin: 15px;
    border-radius: 30px;
    text-align: center;
}
    body{
background-color: black;
}
#big{
    width: 95%;
    margin-left: 30px;
    height: 400px;
    display: flex;
    margin-top: 10px;
/* border: 1px solid rgb(4, 100, 17); */
}
    #pc{
margin-left: 10px;
}
#one{
    height: 500px;
    width: 35%;
/* border: 1px solid yellow; */
color: #8F8F8F;
}
#one>p{
    font-size: 14px;
    margin-left: 10px;
}
#type{
    height: 35px;
    width: 400px;
    margin-top: 50px;
}
#type>input{
    border-radius: 10px;
    height: 35px;
    background-color: black;
    color: white;
    margin-top: 10px;
    width: 200px;
}
input+button{
    height: 36px;
    width: 140px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 2px solid red;
}
    button:hover{
    background-color: red;      
}
.two{
    height: 500px;
    width: 20%;
    margin-left: 30px;
    font-size: 15px;
    color: #8F8F8F;
}
    h3{
    color: white;      
}
#social{
    height: 40px;
    width: 250px;
    margin-top: 20px;
    margin-left: 75px;
}
.social_logo{
    display: flex;
    font-size: 30px;
    color: white;
    justify-content: space-between;
    cursor: pointer;
}
#bottom{
    width: 90%;
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
    justify-content: space-around;
    display: flex;
}
#cards{
    height: 80%;
    margin-top: 7px;
    width: 30%;
}
#cards>img{
    width: 100%;
    height: 100%;
    margin-top: -6px;
}
#payment{
    height: 80%;
    margin-top: 7px;
    width: 45%;
    display: flex;
    margin-left: 50px;
}
#payment>img{
    margin-left: 30px;
    width: 20%;
}
h6{
    text-align: center;
    color: beige;
}
/************************************************************************/
#container {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,auto);
    border: 1px solid white;
    background-color: #252525;
    border-radius: 20px;
}
#outer_div{
    border: 1px solid teal;
    text-align: center;
    border-radius: 20px;
    background-color: #e3e3e3;
    margin: 0px 15px;
    margin-top: 10px;
}
#outer_div>img {
    width: 240px;
    height: 210px;
}
#inner_div {
    background-color: white;
    border-radius: 15px;
    width: 92%;
    margin: auto;
    margin-top: -20px;
}
#h4+p {
    margin-top: -10px;
    font-weight: lighter;  
}
#inner_div>h3 {
    margin-top: -10px;
    color: red;
}
#inner_div>h4:nth-child(2) {
    margin-top: -15px;
    font-weight: lighter;
    margin-bottom: -2px;
}
#inner_div>button {
    background-color: #f6c00b;
    width: 92%;
    margin-top: -15px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #f6c00b;
    cursor: pointer;
}
#button+p {
    margin-top: 0px;
    background-color: #f6c00b;
}
body{
    background-color: black;
}
/* #red_navbar{
    width: 100%;
  
    border: 2px red;
    
} */
#red_navbar{
    border: 2px solid red;
    height: 26px;
    /* width: 100%; */
    background-color: red;
    margin: 0px;
    margin-top: -8px;
    /* margin-left: -10px; */
    /* position: absolute; */
    text-align: center;
    justify-content: center;
    
}
#red_navbar>p{
    font-style: monsterrant;
    color: aliceblue;
    margin-top: 6px;
    font-family: Sans-serif;
    font-size: 14px;
}
/************* Navbar **************************/
#main_navbar{
    height: 50px;
    margin-top: 10px;
    display: flex;
}
#boat_icon{
    height: 40px;
    width: 90px;
    margin-left: 30px;
}
#btn_div{
    text-align: center;
    justify-content: center;
    margin-left: 250px;
    margin-top: 20px;   
}
#btn_div>button{
    color: aliceblue;
    background-color: black;
    font-family: Sans-serif;
    font-size: 16px;
    margin-left: 5px;
}
#Shop_btn:hover,
#Shop_btn:hover{
    background-size: 0 0.1em, 100% 0.1em;
}
#Shop_btn{
    background: 
      linear-gradient(to right, black,black),
      linear-gradient(to right, aliceblue, aliceblue, aliceblue);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

  /* ------------------------------------------------ */
a:hover,
a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}
a {
    background: 
      linear-gradient(to right, black,black),
      linear-gradient(to right, aliceblue, aliceblue, aliceblue);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
/* ------------------------------- */
 
a{
    text-decoration: aliceblue;
    color: aliceblue;
}
#input_div{
    margin-left: 40px;
    width: 230px;
    /* border: 2px solid wheat; */
} 
#input{
    width: 100%;
    height: 40px;
    margin-top: 8px;
    border-radius: 60px;
}
#l_g_c_btns{
    /* border: 2px solid red; */
    margin-left: 10px;
}
#l_g_c_btns>button{
    background-color:black;
    /* color: white;  */
    margin-top: -10px;
}
#l_img{
  width: 30px;
  margin-top: 10px;
  margin-bottom: -5px;
}
#g_img{
  width: 30px;
  margin-top: 10px;
  margin-bottom: -5px;
}
#c_img{
  width: 30px;
  margin-top: 20px;
  /* margin-bottom: -px; */
 
}
#num{
  color: red;
}
#myBtn {
    /* display: none;Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */   
  }
  #myBtn:hover {
    background-color: rgb(248, 242, 242); /* Add a dark-grey background on hover */
  }
  /* =============================================================================== */
  #nav_div_{
    display: flex;
  }
  #text {
    background-color: #2c2c2c;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
  }
  #text>p {
    font-size: 16px;
    margin: auto;
    color: #8F8F8F;
    text-align: center;
    width: 70%;
  }