*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#top{
   background-color: red;
   color: white;
   width: 100%;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#top>p{
   margin-top: 0px;
}
#navbar{
   /* border: 4px solid green; */
   height: 100px;
   width: 100%;
   display: grid;
   grid-template-columns: 25% 40% 35%;
   grid-template-rows: 100px;
   gap: 10px;
   justify-content: space-evenly;
   background-color: black;
   color: white;

}
#navbar>div{
    /* border: 4px solid yellow; */
    box-sizing: border-box;
   
}
/* #navbar div:nth-child(1)>img{
   width: 36%;
   height: 70%;
   display: block;
   margin-top: 10px;
   margin-left: 60px;
   
} */
#boto{
    margin-left: 50px;
    margin-top: 20px;
}
#navbar div:nth-child(2) {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: 100px;
   gap: 10px;
   justify-content: space-evenly;
}
#navbar div:nth-child(2)>div{
   display: grid;
   /* border: 4px solid red; */
   justify-content: center;
   align-items: center;
   font-size: 22px;
   padding-left: 10px;
}
#offer{
   text-align: justify;
   padding-left: 0px;
}
#shop{
   width: 70px;
   height: 40px;
   font-size: 20px;
   border: none;
   background-color: black;
   color: white;
}
#more{
   width: 70px;
   height: 40px;
   font-size: 20px;
   border:none;
   background-color: black;
   color: white;
}
#navbar div:nth-child(3){
   display: grid;
   grid-template-columns:60% repeat(3,10%);
   grid-template-rows: 100px;
   gap: 10px;
   justify-content: space-evenly;
}
#navbar div:nth-child(3)>div{
   /* border: 4px solid red; */
   display: grid;
   align-items: center;
   padding-left: 10px;

}
#navbar div:nth-child(3) >div img{
   width:40px;
   height: 35px ;
   /* margin-left: 5px; */
   

}
#search{
    width:98%;
    height: 60px;
    border-radius: 30px;
    padding-left: 20px;
    border: none;
    background-color: white;
}
#navbar div:nth-child(3) >div:nth-child(4){
   padding-left: 0px;       
} 
#navbar div:nth-child(3) >div:nth-child(4){
   padding-left: 0px;       
}
#box{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows:auto;
   gap:10px 20px;
   


}
#box>div{
   /* border: 4px solid red; */
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   height: 500px;
}
#box>div{
   border: 1px solid gray;
   border-radius: 10px;
   margin-top: 10px;

}
#box>div>img{
   width: 100%;
   height: 68%;
   background-color: gray;
   border-top-left-radius: 10px;
   border-top-right-radius:10px ;
}
#box>div> h4,h1,button {
   /* width: 100%; */
   margin-top: 10px;
   display: block;
   margin-left: 20px;
}
#box>div>h1{
   font-size: 19px;
   color: white;
   /* padding-left: 20px; */
}
#box>div>button{
   position:absolute;
   width: 20%;
   height: 40px;
   background-color: red;
   color: white;
   border-radius: 10px;
   font-size: 20px;
   border: none;
   text-transform: uppercase;
  
   align-items: center;
   /* margin-top: 45px; */
}
/* *********************************************************************************************************** */



*{
    font-family: -apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",
    sans-serif,"Apple Color Emoji","Segoe UI Emoji",
    "Segoe UI Symbol","Noto Color Emoji";
    /* background: #141414; */
    margin: 0px;
    padding: 0px;

}
body{
    background-color: black;
}

.offer-zone{ 
background-color: red;

border: 1px solid ;
}
.offer-zone>a>p{

height: 33px;
font-weight: 400;
font-size: 18px;
color: white;
margin-top: 31px;
text-align: center;
}
.offer-zone>a{
text-decoration: none;
}
/* <-------------------------------main nav bar css start------------------------------------------> */
.sticky {
top: 0;
width: 100%;
}
.nav-bar-main{
    z-index: 9;
    height: 51px;
    /* width: 100%; */
    background-color:black;
}
.nav-inner-bar{
    background-color: black;
    margin: auto;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.nav-inner-bar>img{
    background-color: black;
    width: 7%;
margin-left: 25px;
}
.shop-list{
    color: white;
}
.list-option{
    background-color: black;
}
.nav-search>input{
margin-top: 3px;
height: 40px;
border: none;
padding: 10px;
padding-left: 35px;
margin-left: 4%;
border-radius: 100px;
width: 153%;
font-size: 20px;
background: white;
}
.nav-search{

width: 10%;
position: relative;
left: -68px;
}
/* .logo-side{
background-color: black;
display: flex;
gap: 14px;
margin-right: 30px;
justify-content: space-between;
height: auto;
border: 1px solid blue;
} */
.logo-side>a img{
height: 25px;
color: white;
border: 1px solid blue;
}
/* .logo-side img:nth-child(1){
border:1px solid red;
margin-top: 8px;
background-color: white;
filter: invert(100%) sepia(0%) saturate(7463%) hue-rotate(570deg) brightness(120%) contrast(120%);
} */

.more-option li:hover>.shop-list{
display: grid;
margin-top: 6px;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(auto, auto);
background-color: black;
width: auto;
left: 0%;
}
.more-option li:hover>.more-list{
display: block;
margin-top: 10px;
background-color: black;
width: auto;
}
.shop-list {
position: absolute;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
list-style-type: none;
display: none;
}
.more-list {
position: absolute;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
list-style-type: none;
display: none;
}
.more-list a{
color: white;
line-height: 30px;
text-decoration: none;
padding: 4px;
}

.shop-list>li>a>img{
/* background-color: black; */
width: 100%;
height: 100%;  
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.shop-list>li>a>img:hover{
width: 103%;
height: 103%; 
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.shop{
/* background-color: black; */
z-index: 9;
padding-bottom: 5px;
color: white;
font-weight: bold;
cursor: pointer;
}
.more-option{
background-color: black;
display: flex;
gap: 30px;
list-style: none;
 margin-left: 330px;
 font-size: 18px;
 margin-top: 13px;
}
.fa-solid{

position: absolute;
color: grey;
left: 20px;
top: 18px;
font-size: 15px;
}
#niteshcart{
color:white;
font-size: 25px;
 position: absolute;
 margin-left: 94%;
 margin-top: 40px;
 cursor: pointer;
}
#niteshcart:hover{
color:yellow;
}
#niteshgift{
color:white;
font-size: 25px;
 position: absolute;
 margin-left: 91%;
 margin-top: 38px;
 cursor: pointer;
}
#niteshgift:hover{
color:red;
}
#niteshuser{
color:white;
font-size: 25px;
 position: absolute;
 margin-left: 88%;
 margin-top: 38px;
 cursor: pointer;
}
#niteshuser:hover{
color:yellow;
}
#moreangle{
left: 61%;
color:white;
font-weight: bold;
font-size: 15px;
margin-top: 54px;
cursor: pointer;
}

#shopangle{
left: 48%;
color:white;
font-weight: bold;
font-size: 15px;
margin-top: 54px;
cursor: pointer;

}

                   /* *************CARUSER START********** */
.Caurser{
        width: 100%;
        /* border: 1px solid red; */
        position: relative;

    }
    .Caurser>img{
        width: 100%;
    }
    
    .Caurser>img:nth-child(4){
        width: 100%;
    }

    .Caurser>button{
      position: absolute;
       top: 200px;
        font-weight: bolder;
        background-color: rgba(77, 77,77, 0.0);
        border: none;
    }
    .Caurser>button:nth-child(2){
      left: 10px;
      
    }
    .Caurser>button:nth-child(3){
        left:95%;
    }
    /* .Caurser>button:hover{
        color: red;
        cursor: pointer;
    } */
    #caurserleft{
        color: rgba(229,127,127,0.5);
        cursor: pointer;
        font-size:80px;
    }
    #caurserleft:hover{
        color: red;
    }

    /* ***************CARUSER END********** */
#grid{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: auto;
/* border: 1px solid red; */
width: 90%;
margin: auto;
gap: 20px;
margin-top: 40px;

}
#best{
text-align: center;
font-size: 30px;
font-weight: bold;
 margin-top: 20px;
 margin-bottom: -10px;
 color: white;

}
.grid-child{
/* border: 1px solid black; */
position: relative;
height: 495px;
background-color:rgb(227,227,227);
border-radius: 10px;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.div {
position: relative;
/* border: 1px solid green;	 */
/* margin:  0 auto; */
margin-top: 40px;
height: 250px;
max-width: 300px;
}

/* Select the image and make it absolute to the container */
.div img {
position: absolute;
top:0;
left:0;
overflow: hidden;
margin-top: -40px;
/* Sets the width and height for the images*/
width: 300px;
height: 290px;
}

/* 
We set z-index to be higher than the back image, so it's alwyas on the front.

We give it an opacity leaner to .25s, that way when we hover we will get a nice fading effect. 
*/
.div .img1{
z-index: 9999;
transition: opacity .3s linear;
cursor: pointer;
}

/* When we hover the figure element, the block with .swap-on-hover, we want to use > so the front-image is going to have opacity of 0, which means it will be hidden, to the back image will show */
.div:hover > .img1{
opacity: 0;
}

.second-div{
/* border: 1px solid red; */
height: auto;
position: absolute;
width: 300px;
margin-left: 4px;
/* margin: auto; */
border-radius: 10px;
background-color: white;
padding: 10px 5px 5px 10px;
}
.second-div>h4{
color:black;
position: absolute;

}
.second-div>h4+p{
position: absolute;
top: 40px;
font-size: 12px;
}
.second-div>p+div{
border: 1px solid rgb(187, 185, 185);
width: 290px;
margin-top: 60px;  
background-color: rgb(187, 185, 185);
margin-bottom: 5px;
}
.second-div>p+div+h4{
position: absolute;
color:red;
}
strike{
position: absolute;
margin-left: 60px;
color:rgb(88, 88, 88); 
}
strike+p{
position: absolute;
color: rgb(88, 88, 88);
top: 110px;
font-size: 12px;
}
.addBtn{

margin-top: 70px;
background: #ff0000;
line-height: normal;
border: 1px solid #ff0000;
padding: 8px 12px;
color: #fff;
text-align: center;
 width: 80%;   
 font-weight: 700; 
 font-size: 18px;
 border-radius: 7px;
 margin-left: 9px;
 cursor: pointer;
}
.addBtn+p{
position: absolute;
bottom: 450px;
background-color: white;
padding:5px ;
font-size: 12px;
font-weight: bold;
margin-left: -14px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
color: red;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}


/* **********************************************NEW LAUNCHES********************** */

#con{
/* border: 1px solid red; */
width: 90%;
/* height: 400px; */
margin: auto;
margin-top: 50px;
display: flex;
border-radius: 10px;
}
#imgdiv{
width: 50%;
/* border: 1px solid green; */
height: 500px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
}
#imgdiv>img{
width: 100%;
height: 500px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
}

#text{
width: 50%;
/* border: 1px solid red; */
height: 500px;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
background-color:rgb(255,255,255) ;
}
#text>p{
text-align: center;
color: rgb(146, 145, 145);
margin-top: 30px;
}
#text>p+hr{
border: 1px solid rgb(236, 131, 131);
width: 10%;
background-color: rgb(236, 131, 131);
margin: auto;
margin-top: 10px;
}
hr+h4{
text-align: center;
margin-top: 10px;
font-size: 25px;
}
#text>p:nth-child(4){
width: 40%;
background-color: red;
color:white;
margin: auto;
margin-top: 20PX;
}
#text>h4:nth-child(5){
color: red;
text-align: center;
margin-top: 10px;
}
#text>h4:nth-child(6){
background-color: gray;
color: white;
width: 20%;
margin-left: 200px;
margin-top: 20px;
}
#text>h4:nth-child(7){
margin-left: 400px;
margin-top: -20px;
}
#btn1{
width: 150px;
margin-left: 180px;
margin-top: 100px;
color: red;
border: 1px solid red;
cursor: pointer;
padding: 15px 15px 15px 15px;
border-radius: 5px;
}

#btn1:hover{
color: white;
background-color: red;
}
#btn2{
width:20% ;
color:white;
background-color: red;
padding:15px 15px 15px 15px;
cursor:pointer;
border: none;
border-radius: 5px;
margin-left: 50px;
}
#btn3{
position: absolute;
width: 20px;
background-color:black;
height: 20px;
border-radius: 100px;
right: 450px;
margin-top: 50px;
border-color: red;;
cursor: pointer;
}

#btn5{
position: absolute;
width: 20px;
background-color:white;
height: 20px;
border-radius: 100px;
right: 400px;
margin-top: 50px;
border-color: red;
cursor: pointer;
}
#btn4{
position: absolute;
width: 20px;
height: 20px;
border-radius: 100px;
background-color: blue;
border-color: red;
cursor: pointer;
right: 350px;
margin-top: 50px;
}

/* *************************************************BOAT BLOGS*************************************** */

#blog{
width:100%;
height:auto;
border: 1px solid black;
margin-top: 80px;
background-color: rgb(220,220,220);
}
#nitesh{
text-align: center;
font-size: 30px;
font-weight: bold;
 margin-top: 20px;
 margin-bottom: -10px;
 color: black;

}
.blogs{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(1,auto);
gap: 20px;
padding:50px 20px 20px 20px;
}

.blogs>div>img{
width: 100%;
height:250px ;
cursor: pointer;

}
.blogs>div>img:hover{
width: 101%;
height:260px ;
}
.textblog{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(1,auto);
gap: 20px;
padding:50px 20px 20px 20px;
}
.textblog>div{
/* border: 1px solid; */
margin-top: -50px;
cursor: pointer;
}
.textblog>div:hover{
color: red;
}
.blogbtn{
margin-left: 700px;
margin-top: 30px;
margin-bottom: 30px;
padding: 10px 20px 10px 20px;
color: white;
background-color: red;
border-radius: 5px;
border: none;
}

/* **********************************KL RAHUL ******************************************************** */
#klrahul{

width: 100%;
height: 600px;
background-color:black;
border:1px solid;
}

#rahul{
display: grid;
grid-template-columns: repeat(2,40%);
grid-template-rows: repeat(1,500px);
margin-top: 100px;
margin-left: 250px;
gap: 100px;


}
.klimg{
width: 100%;
height: 500px;
border-radius: 10px;
margin-top:-50px ;
}
#kltext{
margin-top: 73px;
margin-bottom: 20px;
color: white;
background-color: black;
}
#klhm{
border-color: red;
width: 20%;
margin-top: -10px;
}
label{
color: red;
font-weight: bold;
}

/* ********************************last part*********************************** */
#lastpage{
position: absolute;
width: 100%;
height: 700px;
background-color: rgb(220,220,220);
}
#lastheading{
text-align: center;
margin-top: 50px;

}
#lastpagediv{
display: grid;
grid-template-columns: repeat(3,30%);
grid-template-rows: repeat(1,250px);
gap: 40px;
margin-left: 100px;
margin-top: 290px;


}
#lastpagediv>div{
border: 1px solid red;
background-color: red;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
cursor: pointer;
}
.lastimg{
position: absolute;
margin-top: -144px;
width: 300px;
margin-left: 75px;
}
.lastimg+p{
color: white;
margin-top: 80px;
text-align: center;
font-size: 20px;
}
.lastimg+p+button{
position: relative;
margin-left: 120px;
margin-top: 50px;
width: 45%;
height: 45px;
color: red;
font-size: 15px;
font-weight: bold;
border: none;
border-radius: 5px;
cursor: pointer;
box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
#rahulbtn2{
position: relative;
top: 25px;
}
#round{
position: absolute;
margin-top: -279px;
font-size: 260px;
margin-left: 50px;
font-weight: -10;
color: red;

}
#round2{
position: absolute;
margin-left: 338px;
font-size: 243px;
margin-top: -261px;
font-weight: -10;
color: red;
}
