*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
   background-color: #252525;
}
#top{
   background-color: red;
   color: white;
   width: 100%;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#top>p{
   margin-top: 0px;
}
#navbar{
   /* border: 4px solid green; */
   height: 100px;
   width: 100%;
   display: grid;
   grid-template-columns: 25% 40% 35%;
   grid-template-rows: 100px;
   gap: 10px;
   justify-content: space-evenly;
   background-color: black;
   color: white;
   position: sticky;

}
#navbar>div{
    /* border: 4px solid yellow; */
    box-sizing: border-box;
}
#navbar div:nth-child(1) img{
   width: 36%;
   height: 70%;
   display: block;
   margin-top: 10px;
   margin-left: 60px;
   /* padding-left: 30px; */
}
#navbar div:nth-child(2) {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: 100px;
   gap: 10px;
   justify-content: space-evenly;
}
#navbar div:nth-child(2)>div{
   display: grid;
   /* border: 4px solid red; */
   justify-content: center;
   align-items: center;
   font-size: 22px;
   padding-left: 10px;
}
#offer{
   text-align: justify;
   padding-left: 0px;
}
#shop{
   width: 70px;
   height: 40px;
   font-size: 20px;
   border: none;
   background-color: black;
   color: white;
}
#more{
   width: 70px;
   height: 40px;
   font-size: 20px;
   border:none;
   background-color: black;
   color: white;
}
#navbar div:nth-child(3){
   display: grid;
   grid-template-columns:60% repeat(3,10%);
   grid-template-rows: 100px;
   gap: 10px;
   justify-content: space-evenly;
}
#navbar div:nth-child(3)>div{
   /* border: 4px solid red; */
   display: grid;
   align-items: center;
   padding-left: 10px;
}
#navbar div:nth-child(3) >div img{
   width:40px;
   height: 35px ;
   /* margin-left: 5px; */
   

}
#search{
    width:98%;
    height: 60px;
    border-radius: 30px;
    padding-left: 20px;
    border: none;
    background-color: white;
}
#navbar div:nth-child(3) >div:nth-child(4){
   padding-left: 0px;       
} 
#navbar div:nth-child(3) >div:nth-child(4){
   padding-left: 0px;       
}
#h1{
   text-align: center;
   font-size: 60px;
   margin-top: 20px;
   color: white;
}
#box{
   width: 100%;
   /* height: auto; */
   /* border: 10px solid yellow; */
   display: grid;
   grid-template-columns: 70% 30%;
   grid-template-rows: auto;
   margin-top: -15px;
}

#product{
   display: grid;
   grid-template-columns: 25% 40% 20% 15%;
   grid-template-rows: 200px;
   /* border: 4px solid blue; */
   gap: 0px;

}


#fix{
   position: sticky;
   height: 500px;
}
#div1 img{
   width: 90%;
   height: 90%;
   background-color: white;

}

#div2 h1,h4{
   margin-top: 20px;
}
#div5{
   display: flex;
   border: 2px solid gray;
   width: 50%;
   margin: auto;
   margin-top: 20px;
}
#div5 button{
   height: 20px;
   width: 20px;
   display: block;
   margin: auto;
   border: none;
   color:gray;
   cursor: pointer;
   font-size: 20px;
}
#div3>button{
   height: 20px;
   width: 70px;
   display: block;
   margin: auto;
   border: none;
   color:gray;
   margin-top: 50px;
   font-size: 18px;
   cursor: pointer;
   /* padding-top: 20px; */
   
}
#div4 {
    /* margin-top: 20px; */
    padding-top: 20px;
    padding-left: 50px;
    font-size: 20px;
    color: white;
}
#fix>div{
   /* border: 4px solid yellow; */
   width: 400px;
   height: 250px;
   position: fixed;
   background-color: black;
   color: white;
   margin-top: -50px;
}

/* hr{
   margin-top: 20px;
} */
#line{
   /* border: 4px solid blue; */
   width: 70%;
   height: 60px;
   display: grid;
   grid-template-columns: 65% 20% 15%;
   grid-template-rows: 40px;
   gap: 0px;
   align-items: center;

}
#line>div{
    /* border: 4px solid brown; */
    color: gray;
    text-transform: uppercase;
    /* padding-left: 10px; */
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
}
#fix>div>div{
   display: grid;
   grid-template-columns:40% 40%;
   grid-template-rows: 40px;
   justify-content: space-around;
   /* border: 4px solid red; */
   margin-top: 30px;
}
#fix>div>div>div{
   /* border: 4px solid yellow; */
   display: flex;
   /* justify-content: center; */
   align-items: center;
   font-size: 25px;
   padding-left: 15px;
}
#fix>div p{
     margin-top: 0px;
     text-align: center;
     font-size: 18px;
     color: gray;
}
#fix>div button{
   width: 85%;
   height: 40px;
   text-transform: uppercase;
   background-color:red;
   color: white;
   border-radius: 5px;
   display: block;
   margin: auto;
   margin-top: 20px;
   border: none;
   cursor: pointer;
}