#nav{
    /* border: 2px solid grey; */
    width: 24%;
    margin: auto;
    margin-top: 50px;
}
#mobile{
    width: 70%;
    height: 35px;
    border-radius: 8px;
    font-size: 20px;
}
#name{
    width: 70%;
    height: 35px;
    border-radius: 8px;
    font-size: 20px;
}
#area{
    width: 70%;
    height: 35px;
    border-radius: 8px;
    font-size: 20px;
}
#pin{
    width: 70%;
    height: 35px;
    border-radius: 8px;
    font-size: 20px;
}
#road{
    width: 70%;
    height: 35px;
    border-radius: 8px;
    font-size: 20px;
}
#cash{
    width: 40%;
    height: 35px;
    font-size: 20px;
    border-radius: 8px;
    margin-left: 60px;
}