*{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    /* background-color: gray; */
}
#main_container {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 40px;
}
#topbar {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#topbar > div {
  margin-left: 150px;
}
#topbar>div>img {
  height: 40px;
  width: 300px;
}
#khao{
    width: 80%;
    height: 120px;
    border-radius: 10px;
}

#container {
  width: 72%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.normal{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(50, 47, 47);
    background-color: wheat;
}
.bold{
    font-weight: 1000;
    font-size: 20px;
    margin-top: 10PX;
    margin-bottom: 5PX;
    background-color: wheat;
}
.open_manual{
    font-weight: 400;
    margin-top: 5px;
    background-color: wheat;
}






#user_details{
    width: 55%;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

#country{
    border: 1px solid;
    width: 97%;
    height: 35px;
    /* margin: auto; */
    cursor: not-allowed;
    border-radius: 10px;
}
#address_div{
    width: 100%;
    /* border: 1px solid red; */
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: wheat;
    border-radius: 15px;
}
#open_manual{
    cursor: pointer;
    text-decoration: underline;
}
#manual{
    display: none;
}
.input_box{
    width: 95%;
    height: 35px;
    background-color: wheat;
    border-radius: 10px;
}




#option{
    width: 100%;
    /* height: 150px; */
    margin-top: 15PX;
    padding: 15PX;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: wheat;
    color: black;
    border-radius: 10px;
    /* border: none; */
}
#option_div{
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 7PX;
    background-color: rgb(214, 234, 251);
    /* color: black; */
}
#option_text{
    color: black;
    /* border: none; */
    background-color: wheat;
}
i {
    color: rgb(2, 85, 158);
  }




 




  #order_button{
    width: 100%;
    /* height: 150px; */
    margin-top: 15PX;
    padding: 15PX;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* border-radius: 20px; */
  }



  /* #order_button{
    margin: auto;
    border: 1px solid red;
  } */
  .button{
    width: 95%;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    background-color:darkslategray;
    margin-bottom: 1rem;
    cursor: pointer;
    margin: auto;
    border-radius: 10px;
}
.button>p{
    color: red;
}
#tnc{
    display: flex;
    margin: auto;
    border: 1px solid;
    width: 100%;
    padding: 15px;
    /* position: absolute; */
    /* margin-top: 20px; */

}




#payment_method{
  width: 100%;
  /* height: 150px; */
  margin-top: 15PX;
  padding: 15PX;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 30px;
  /* background-color: white; */
}
#card{
  width: 90%;
  border: 1px solid black;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  padding: 20px;
  background-color: wheat;
}
#card_images{
  width: 93%;
  height: 42px;
  margin: 20px;
  display: flex;
}
.cardDiv{
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 13px;
}
#checkbox_div{
  display: flex;
  margin-top: 20px;
  font-size: 20px;
  /* height: 100px; */
}
#checkbox{
  display: flex;
  padding: 5px;
  align-items: center;
  padding-left: 0px;
  /* height: 50px; */
  
}
.checkbox_text{
  margin-left: 10px;
}
.card_logos{
margin: 5px;
}
#month,#year{
  width: 44%;
  height: 35px;
}




/* -----------order summary css-------------- */

#cart_products_details
{
  width: 38%;
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 600px;
}

#item_count{
  font-size: 15px;
  font-weight: 500;
}
#item_list{
  width: 98%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}
#order_div{
  padding: 7px;
 
  
}
.small_order_div{
  width: 100%;
  display: flex;
  padding: 5px 20px 5px 20px;
}
.order_image_div{
  display: flex;
  /* flex-direction: column; */
}
.order_image{
  width: 80px;
  height: 80px;
}
.order_details_div{
  padding-left: 20px;
}
.order_quantity_div,.order_price{
  font-weight: bold;
}
#total_price{
  font-size: 16px;
  font-weight: 800;
}
#cart_total{
  height: 80px;
  width: 98%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
#count{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 98%;
  padding: 10px;
  margin-bottom: 10px;
}




/* --------------media query------------- */

@media only screen and (min-width:500px) and (max-width: 900px){
  #container{
    width: 90%;
    margin-top: 30px;
    flex-direction: column;
  }
  #user_details{
    width: 95%;
}
  #topbar {
    height: 60px;
  }
  #topbar > div {
    margin-left: 5%;
  }
  #topbar > div > img {
    width: 100%;
    height: 100%;
  }
  .normal{
      font-weight: 500;
      margin-bottom: 6px;
      font-size: 12px;
  }
  .bold{
      font-weight: 1000;
      font-size: 16px;
      margin-top: 6PX;
      margin-bottom: 3PX;
  }
  .open_manual{
      margin-top: 3px;
  }
  #address_div{
      padding: 8px;
  }
  .input_box{
      height: 20px;
  }
  
  
  

  #option{
      margin-top: 8PX;
      padding: 0PX;
  }
    #order_button{
      margin-top: 8PX;
      padding: 8PX;
    }
    .button{
      height: 35px;
  }
  #tnc{
      padding: 0px;
  }
  
  
  
  
  #payment_method{
    margin-top: 8PX;
    padding: 8PX;
  }
  #card{
    padding: 10px;
  }
  #card_images{
    width: 100%;
    height: 32px;
    margin: 0px;
    display: flex;
  }
  .cardDiv{
    margin-left: 13px;
    margin-top: 4px;
    margin-bottom: 8px;
  }
  #checkbox{
    padding: 3px;
  }
  .checkbox_text{
    margin-left: 10px;
  }
  .card_logos{
  margin: 0px;
  height: 32px;
  width: 40px;
  }
  #month,#year{
    height: 25px;
  }
  
  
  
  
  /* -----------order summary css-------------- */
  
  #cart_products_details{
    width: 95%;
  }
  
  #item_count{
    font-size: 10px;
  }
  #order_div{
    padding: 6px;
  }
  .small_order_div{
    padding: 4px 18px 4px 18px;
  }
  .order_details_div{
    padding-left: 15px;
  }
  #total_price{
    font-size: 14px;
  }
}


@media only screen and (min-width:0px) and (max-width: 500px){
  #container{
    width: 95%;
    margin-top: 20px;
    flex-direction: column;
  }
  #user_details{
    width: 95%;
}
  #topbar {
    height: 80px;
  }
  #topbar > div {
    margin-left: 25%;
  }
  #topbar > div > img {
    width: 100%;
    height: 100%;
  }
  .normal{
      font-weight: 500;
      margin-bottom: 8px;
      font-size: 14px;
  }
  .bold{
      font-weight: 1000;
      font-size: 18px;
      margin-top: 8PX;
      margin-bottom: 4PX;
  }
  .open_manual{
      margin-top: 4px;
  }
  #address_div{
      padding: 10px;
  }
  .input_box{
      height: 25px;
  }
  
  
  

  #option{
      margin-top: 10PX;
      padding: 0PX;
  }
    #order_button{
      margin-top: 10PX;
      padding: 10PX;
    }
    .button{
      height: 35px;
  }
  #tnc{
      padding: 0px;
  }
  
  
  
  
  #payment_method{
    margin-top: 10PX;
    padding: 10PX;
  }
  #card{
    padding: 15px;
  }
  #card_images{
    width: 100%;
    height: 32px;
    margin: 0px;
    display: flex;
  }
  .cardDiv{
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  #checkbox{
    padding: 3px;
  }
  .checkbox_text{
    margin-left: 10px;
  }
  .card_logos{
  margin: 0px;
  height: 32px;
  width: 40px;
  }
  #month,#year{
    height: 25px;
  }
  
  
  
  
  /* -----------order summary css-------------- */
  
  #cart_products_details{
    width: 95%;
  }
  
  #item_count{
    font-size: 10px;
  }
  #order_div{
    padding: 6px;
  }
  .small_order_div{
    padding: 4px 18px 4px 18px;
  }
  .order_details_div{
    padding-left: 15px;
  }
  #total_price{
    font-size: 14px;
  }

}